# Enable rewrite engine
RewriteEngine On

# Remove index.php from the URL
RewriteCond %{REQUEST_URI} ^/index.php
RewriteRule ^index.php/(.*)$ /$1 [R=301,L]

# If the requested resource exists, do not redirect
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other requests to index.php
RewriteRule ^(.*)$ index.php/$1 [L]
